.manufacturingTable table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: scroll;
}

.manufacturingTable table{
    width: 100%;
}
.manufacturingTable table th{

    background-color: var(--clr-table-head);
    color: var(--clr-table-head-text);
    padding: 10px;
    text-align: left;
}

.manufacturingTable table td{

    padding: 10px;
    text-align: left;
}
.manufacturingTable table tr:hover{
    background-color: var(--clr-table-row-hover);
}
